.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.parallax-short {
  height: 500px;
}

.parallax-large {
  height: 700px;
}

.button-collapse{
  color:black;
}