<div class="row">
  <div class="col s8">
    <br>
    <div id="container"></div>
  </div>
  <div class="col s4">
    <br>
    <div class="card light-blue lighten-5 z-depth-5">
      <div class="card-content">
        <span class="card-title">Explorar los indicadores</span>
        <div class="divider blue-grey darken-4"></div>
        <br/>
        <div class="row">
          <% @indicators.each do |indicator| -%>
          <div class="col s9">
            <p>
              <input class="with-gap" name="indicators" type="radio" id=<%= indicator %> checked />
              <label for=<%= indicator %> ><%= indicator %></label>
            </p>
          </div>
          <div class="col s3">
            <div style="width:18px;height:18px;background-color:      ;display: inline-block;"></div>
          </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
