<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Aguascalientes</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/70137301/q%3D80_m%3D1500/b0f442e5ee87dd343b75d2d193e797a9"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          El Estado de Aguascalientes es una de las treinta y dos entidades federativas de México. Su nombre refiere a las aguas termales que los primeros pobladores europeos descubrieron en la zona. Se divide en 11 municipios y su capital es la ciudad de Aguascalientes. Se ubica en la macro región de El Bajío, específicamente en el Bajío Occidente o Centro Occidente (México).  Colinda, al norte, con Zacatecas; y al sur, con Jalisco. Representa el 0,3% de la superficie del país.
        </p>
        <p class="text-justify">
          En la era precolombina, las puntas de flecha, los fragmentos de cerámica y las pinturas rupestres en las cavernas en la sierra del Laurel, y cerca del actual poblado de Las Negritas, atestiguan la presencia del hombre en este territorio, desde hace más de 20.000 años. Ya en la Colonia, Pedro Almíndez Chirino fue el primer español que se internó en este territorio, tal vez a finales de 1530 o principios de 1531, en cumplimiento de instrucciones dadas por Nuño de Guzmán.
        </p>
        <p class="text-justify">
          Antes de la llegada de los españoles, el territorio de lo que ahora es el Estado de Aguascalientes estuvo habitado por chichimecas, lo que hacía que el territorio fuera de difícil acceso. De hecho, la total ocupación de las tierras de El Bajío fue una labor que tardaría alrededor de dos siglos. Al respecto, el Virrey Luis de Velasco ofrecía beneficios municipales a quienes establecían poblados para hacer frente a los chichimecas. Y por su parte, el virrey Gastón de Peralta decidió enfrentarlos de forma directa, lo que no le dio buenos resultados.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Aguascalientes_in_Mexico_%28zoom%29.svg/1024px-Aguascalientes_in_Mexico_%28zoom%29.svg.png", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Se localiza en el centro del país, a unos 480 km al noroeste de la ciudad de México. Al norte, noreste y oeste limita con el estado de Zacatecas, con el que tiene más de la mitad de sus límites, y al sur y sureste con el estado de Jalisco, su otro vecino. El estado de Aguascalientes es muy pequeño, y sólo colinda con otros dos estados. Tiene una extensión territorial de 5.471 km², lo que representa el 0,03 % de la superficie total de México. En el estado atraviesa parte de la Sierra Madre Occidental.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según las cifras que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía en 2010, el estado de Aguascalientes contaba hasta entonces con un total de 1 184 996 habitantes. De dicha cantidad, 576 638 eran hombres y 608 358 eran mujeres.3 La tasa de crecimiento anual para la entidad durante el periodo 2005-2010 fue del 2,2%.27 El incremento observado durante la década equivale a los residentes actuales de los municipios de Jesús María, Calvillo, Rincón de Romos, Pabellón de Arteaga, San Francisco de los Romo y Cosío, considerados de manera conjunta.</p> 
      </div>
    </div>
  </div>
</div>
