<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Baja California</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/151930521/q%3D80_m%3D1500_k%3D1/34186de6c4051e03506a3179e8061893"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Baja California es uno de los treinta y un estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de México.
        </p>
        <p class="text-justify">
          Está ubicado en el extremo noroeste de México. Comparte la península de Baja California con el estado de Baja California Sur. Antes de alcanzar categoría de estado en 1952, tenía el nombre de Territorio Norte de Baja California. Tiene un área de 71 576 km², es decir, el 3,57 % del país. Limita al oeste con el océano Pacífico, al este con el mar de Cortés o golfo de California, el estado de Sonora y el estado estadounidense de Arizona, al sur con el estado de Baja California Sur y al norte con el estado estadounidense de California.
        </p>
        <p class="text-justify">
          Se distingue de otros estados por un modelo económico y social que ha rendido frutos: 3,5% de su población en extrema pobreza, contra el 11% a nivel nacional y el 25% en muchos otros estados. Es el número 10 en competitividad, que se distingue por su apertura al mundo y una sociedad altamente participativa. Pero el que 110 mil personas todavía estén en extrema pobreza sigue siendo un reto.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Baja_California_in_Mexico.svg/800px-Baja_California_in_Mexico.svg.png", width:"350" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Baja California tiene dos litorales. Al oeste limita con el Océano Pacífico y por el este con el Golfo de California. La geografía del estado es muy diversa. La Sierra de Baja California está situada en medio de la península y en su largo tramo tiene diferentes denominaciones; las más importantes son la Sierra de Juárez y la Sierra de San Pedro Mártir, en la cual se encuentra el Pico de la Encantada - el de mayor altura en la península. Desde el Pico de la Encantada se puede apreciar gran parte del Alto Golfo de California y el Desierto de San Felipe.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según las cifras que arrojó el XIII Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía en 2010, el estado de Baja California contaba hasta entonces con un total de 3 155 070 habitantes, de dicha cantidad, 1 591 610 eran hombres y 1 563 460 eran mujeres.3 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 5,0%.</p> 
      </div>
    </div>
  </div>
</div>
