<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Baja California Sur</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/98001187/q%3D80_m%3D1500/eacc4addc362cb1e4add422a8e16e682"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Baja California Sur es uno de los treinta y un estados que junto con la Ciudad de México conforman las entidades federativas que constituyen a México. Se divide en 5 municipios y su capital es La Paz.
        </p>
        <p class="text-justify">
          Limita al norte con el estado de Baja California, situado por encima del paralelo 28º N; al este con el mar de Cortés; y al sur y oeste con el océano Pacífico. Se extiende por una superficie de 75 675 km², ocupando un 3,8 % del territorio nacional. Es, junto con Quintana Roo, la entidad más joven del país, siendo ambas promovidas de Territorio Federal a Estado Libre y Soberano, el 8 de octubre de 1974.
        </p>
        <p class="text-justify">
          Existían tres grupos tribales perfectamente definidos en la época prehispánica: los pericúes, guaycuras y cochimíes. Los pericúes habitaban la parte sur de la península y se extendían hacia el norte, desde Cabo San Lucas hasta la parte media de la península, los Guaycuras habitaban la parte media y los Cochimíes en el extremo norte.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <br/>
        <br/>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/9/9d/Baja_California_Sur_in_Mexico.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Limita al norte con el estado de Baja California situado por encima del paralelo 28ºN, al este con el mar de Cortés y al sur y oeste con el océano Pacífico. Su capital es la ciudad de La Paz. Se extiende por una superficie de 73 475 km², y ocupa un 3,8 % del territorio nacional.
        Al norte se ubican las lagunas costeras de San Ignacio y Ojo de Liebre, las cuales son sitios de reproducción de la ballena gris y se encuentran protegidas por el gobierno federal. En la misma zona se ubica el desierto de El Vizcaíno, una reserva mundial de la biósfera. Posee también algunas islas en el océano Pacífico (Natividad, Magdalena y Santa Margarita) y otras en el mar de Cortés: San Marcos, Coronados, Carmen, Monserrat, Santa Catalina, Santa Cruz, San Diego, San José, San Francisco, Partida, Espíritu Santo y Cerralvo. Sus principales elevaciones son la Sierra La Laguna, el Volcán Las Tres Vírgenes y el Cerro Salsipuedes.
        </p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según las cifras que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) en 2010, el estado de Baja California sur contaba hasta ese año con un total de 937 226 habitantes, de ellos, 425 433 eran hombres y 411 593 eran mujeres.2 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 4,5%.</p> 
      </div>
    </div>
  </div>
</div>
