<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Campeche</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/98680125/q%3D80_m%3D1500/06d65ebf198b0d28d270081a4170a0ef"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Campeche es uno de los 31 estados que, junto con la Ciudad de México, conforman las 32 entidades federativas de los Estados Unidos Mexicanos. Se localiza al sureste de la república mexicana y al oeste de la península de Yucatán, entre los paralelos 17°49' y 20°51' de latitud norte y los meridianos 89°06' y 92°27' de longitud oeste. Colinda al noreste con el estado de Yucatán, al este con el estado de Quintana Roo, al sur con la República de Guatemala, al suroeste con el estado de Tabasco y al oeste con el golfo de México.
        </p>
        <p class="text-justify">
         Campeche, con una extensión total de 57.924 km², el 3,0% del territorio nacional, es una de las tres entidades que conforman la península de Yucatán. Su población total, según cifras del Censo de Población y Vivienda 2010, es de 822.441 habitantes. Desde el punto de vista físico, Campeche se encuentra en una posición de transición entre la selva tropical del Petén guatemalteco y la selva baja caducifolia del extremo norte de la península de Yucatán. La capital del estado es San Francisco de Campeche.
        </p>
        <p class="text-justify">
          Existen diversas teorías acerca del origen de la palabra Campeche (en maya: can pech, ‘serpiente y garrapata’)
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/6/6f/Campeche_in_Mexico.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de Campeche se localiza al sureste de la república mexicana y al oeste de la península de Yucatán, entre los paralelos 17°49' y 20°51' de latitud norte y los meridianos 89°06' y 92°27' de longitud oeste. Colinda al noreste con el estado de Yucatán, al este con el estado de Quintana Roo, al sureste con Belice, al sur con la República de Guatemala, al suroeste con el Estado de Tabasco y al oeste con el golfo de México.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según las resultados que arrojó el Censo de Población y Vivienda 2010 realizado por el Instituto Nacional de Estadística y Geografía (INEGI), Campeche contaba hasta entonces con un total de 822.441 habitantes, de dicha cantidad, 407.721 eran hombres y 414.720 eran mujeres.2 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 1.7%.</p> 
      </div>
    </div>
  </div>
</div>
