<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Chihuahua</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/109618475/q%3D80_m%3D1500/6c8eef87f8d17564de58be05dea4cc02"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Chihuahua es uno de los treinta y un estados que junto a la Ciudad de México conforman las treinta y dos entidades federativas de México.
        </p>
        <p class="text-justify">
          Se localiza al norte de México. Tiene una superficie de 247 460  km², siendo el estado más extenso de México. Limita al norte con dos de los Estados Unidos de América, Nuevo México y Texas; al oeste, con los estados mexicanos de Sonora y Sinaloa; al sur, con el de Durango; y al este, con el de Coahuila.
        </p>
        <p class="text-justify">
          Se divide en 67 municipios. Su capital es Chihuahua. Otras localidades importantes son Ciudad Juárez, Cuauhtémoc, Delicias, Parral, Nuevo Casas Grandes, Camargo, Ojinaga, Jiménez, Aldama, Guadalupe y Calvo.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
      <br/>
      <br/>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/6/6c/Chihuahua_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">
          La Sierra de Chihuahua está conformada por la zona más septentrional de la Sierra Madre Occidental, que en el territorio alcanza su mayor altura en el Cerro Mohinora, con 3 333 msnm. Comprende un tercio de la superficie del estado y es una zona muy accidentada de grandes montañas y barrancas o cañones aún más grande que el Cañón del Colorado en Estados Unidos, está cubierta de espesos bosques de coníferas, a excepción del fondo de las barrancas, que debido a la poca altitud tienen un clima y vegetación tropical durante el verano y clima templado durante el invierno. Las temperaturas en el fondo de las barrancas pueden superar los 40 °C en verano y muy rara vez caen a menos 0 °C en el invierno, mientras que en las partes altas el clima es semifrío con máximas que rara vez superan los 30 °C en verano y que pueden llegar a caer por debajo de los −20 °C en el invierno. La precipitación promedio anual de esta zona varía entre los 750-900 mm anuales, agrupadas principalmente en los meses de mayo a septiembre. En los meses de noviembre a marzo es usual que se registren nevadas que varían en intensidad según la altitud. Es una zona de gran riqueza maderera y minera, habitada por los grupos indígenas del estado, que son unos de sus principales atractivos turísticos. En la Sierra se encuentran la Barranca del Cobre y la Cascada de Basaseachi, ambos lugares turísticos de fama nacional y mundial.
        </p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Los primeros en llegar al estado son, como se mencionó, los misioneros franciscanos, que habían llegado a la Nueva España desde el inicio de la conquista en 1524. Desde Valle de San Bartolomé en 1574, iniciaron la evangelización de la población indígena, Siendo los primeros parecen haberse especializado en los conchos y chinarras, siguiendo principalmente las zonas comunicadas por las primeras rutas (Camino Real de Tierra Adentro) entre Nuevo México y Durango.</p> 
      </div>      
    </div>
  </div>
</div>
