<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Chiapas</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/124166133/q%3D80_m%3D1500/dbeb8ecfb823a44d1679444345d98167"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Chiapas, oficialmente llamado Estado Libre y Soberano de Chiapas,3 es una de las 32 entidades federativas de México. Se encuentra en el extremo sureste del país, en la frontera con Guatemala. Con una superficie de más de 70 mil kilómetros cuadrados, ocupa por su tamaño el octavo lugar entre las entidades mexicanas. La capital del estado es Tuxtla Gutiérrez, que concentra aproximadamente a la octava parte de la población chiapaneca. Chiapas posee varios de los destinos turísticos más importantes de México, como la zona arqueológica de Palenque, que atrae a una cantidad muy importante de turistas al año. Por el volumen de su producción agrícola, Chiapas ocupa un sitio destacado en México, sobre todo por la producción de café, maíz y mango.
        </p>
        <p class="text-justify">
          El territorio chiapaneco presenta una morfología muy compleja, formada por extensas zonas montañosas: la Sierra Madre de Chiapas que se dirige a Oaxaca al Norte y a Guatemala al Sur, El Bloque o Macizo Central que se dirigen hacia Veracruz y Tabasco al Norte y hacia Guatemala al Sur. De igual forma se encuentra determinada por grandes Valles: la depresión central. Así como grandes llanuras: la Llanura Costera del Pacífico y las Llanuras Aluviales del Norte. Por este motivo, Chiapas presenta una gran diversidad climática y biológica. Algunas zonas de su territorio han sido declaradas reservas de la biosfera por albergar a varias especies animales y vegetales, muchas de ellas son endémicas del lugar.
        </p>
        <p class="text-justify">
          En el territorio de Chiapas se desarrollaron importantes culturas mesoamericanas durante la época precolombina.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/2/26/Chiapas_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Chiapas colinda al este con Guatemala, al oeste con Oaxaca, al norte con Tabasco, al sur con el océano Pacífico y al noroeste con Veracruz. Se inscribe entre las siguientes coordenadas: al norte 17°59', al sur 14°32’ de latitud norte; al este 90°22', al oeste 94°14' de longitud oeste. Se divide en 122 municipios que se agrupan en 7 regiones fisiográficas.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">La población era agricultora, vivía en aldeas hechas de lodo, palos y paja. Cada ciudad maya era un señorío y funcionaba como un estado independiente, con organización propia.
        El señor de cada ciudad-estado Maya era a la vez el sacerdote principal y general del ejército; hacían sacrificios humanos pidiendo a los dioses buenas cosechas y prosperidad para todos. El cargo de gobernante le pertenecía al jefe de la familia real proveniente de una dinastía hereditaria.</p> 
      </div>
    </div>
  </div>
</div>
