<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Coahuila de Zaragoza</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/105967455/q%3D80_m%3D1500/73e854392ebf0a7c5ea2497d895c730c"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Coahuila (oficialmente Coahuila de Zaragoza) es uno de los treinta y un estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de México.
        </p>
        <p class="text-justify">
          Es el tercer estado más extenso del país, pues tiene una extensión territorial de 151,571 km². Cuenta con una gran cantidad de ecosistemas, que van desde los desiertos en la Comarca Lagunera y los bosques en la Sierra Madre Oriental. Es famoso por haber formado parte de la República del Río Grande en el año de 1840.
        </p>
        <p class="text-justify">
          Limita al norte con el estado estadounidense de Texas, al sur con el estado de Zacatecas, al este con el estado de Nuevo León y al oeste con los estados de Durango y Chihuahua.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/5/57/Coahuila_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de Coahuila de Zaragoza está localizado en la parte central del norte de México. Su extensión territorial es de 151,571 kilómetros cuadrados y representa el 7.7% del área total del país. Limita al norte con el estado de Texas, a través del Río Bravo; al sur con Zacatecas; en un vértice del sureste con San Luis Potosí; al suroeste con Durango; al este con Nuevo León; y al oeste con Chihuahua. Población Total: Según el Conteo 2005 del INEGI, Coahuila tiene 3’055,795 habitantes.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según las cifras que arrojó la "Encuesta Intercensal 2015" realizada por el Instituto Nacional de Estadística y Geografía (INEGI), el estado de Coahuila de Zaragoza cuenta con un total de 2 954 915 habitantes al año 2015, de dicha cantidad, el 49.5% (1 462 612) son hombres y el 50.5% (1 492 203) son mujeres.2 La tasa de crecimiento anual para la entidad durante el período 2010-2015 fue del 1.6%.</p>
      </div>
    </div>
  </div>
</div>
