<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Colima</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/61746485/q%3D80_m%3D1500/7d2b682b2b7d5f8777bc10cb00748fe2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Colima es uno de los estados, que junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Limita al norte con el estado de Jalisco, al sur con el estado de Michoacán y al oeste con el océano Pacífico. Es el tercer estado más pequeño del país, y su Índice de Desarrollo Humano es alto.
        </p>
        <p class="text-justify">
          Políticamente se divide en 10 municipios. Su capital recibe el mismo nombre: Colima. Otras localidades importantes son Manzanillo, Tecomán, Armería, Comala, Villa de Álvarez, Cuauhtémoc, Ixtlahuacán, Coquimatlán y Minatitlán.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/a/a6/Colima_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Colima cuenta con un gran volcán el volcán de fuego, situado en el límite entre los estados mexicanos de Colima y Jalisco pero mostrándose mayor visibilidad hacía Colima. Forma parte, junto con el nevado de Colima (que se alza al norte del volcán), del área natural protegida que lleva el nombre de este último. Pese a su persistente actividad, las labores agropecuarias se han seguido desarrollando en la región colindante.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según las cifras que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Colima contaba hasta entonces con un total de 850 755 habitantes, de dicha cantidad, 422,890 eran hombres y 427,865 eran mujeres.2 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 2,8%.</p> 
      </div>
    </div>
  </div>
</div>
