<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Ciudad de México</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/66388309/q%3D80_m%3D1500/4c0f0c7d5c40124d17fc446611d93a17"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          La Ciudad de México, anteriormente conocida como Distrito Federal,nota 1 es una entidad federativa mexicana,16 17 18 considerada la capital del país.19 Se encuentra en el valle de México a una altitud media de 2240 metros. La Ciudad de México tiene una superficie de 1495 kilómetros cuadrados y se divide administrativamente en dieciséis demarcaciones territoriales. Su población es de alrededor de 8.9 millones de habitantes, sin embargo, cuando se considera que la Zona Metropolitana del Valle de México20 suma una población de más de 21 millones de habitantes, posicionándola como una de las mayores aglomeraciones urbanas del mundo y la más grande del continente americano y del mundo hispanoparlante.
        </p>
        <p class="text-justify">
          Es el núcleo urbano más grande del país y también el principal centro político, académico, económico, de moda, financiero, empresarial y cultural.
        </p>
        <p class="text-justify">
          La Ciudad de México tuvo un PIB, en 2011, de 470 000 millones de dólares, mientras que en 2012 tuvo un crecimiento medio de 3,5 %, con lo cual incrementó su PIB a 486 450 millones de dólares. Catalogada como ciudad global, es uno de los centros financieros y culturales más importantes del mundo. Su crecimiento es uno de los más veloces a nivel global y se espera que su economía se triplique para el año 2020.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Mexico_%28city%29_in_Mexico_%28zoom%29.svg/800px-Mexico_%28city%29_in_Mexico_%28zoom%29.svg.png", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Según el Instituto Nacional de Estadística, Geografía e Informática (INEGI), el territorio de la Ciudad de México se localiza en la provincia geológica de Lagos y Volcanes del Anáhuac. El límite norte del Distrito Federal está dado por la sierra de Guadalupe del que forma parte el cerro del Tepeyac. Hacia el centro oriente del Distrito Federal se localiza la sierra de Santa Catarina, una cadena de volcanes apagados cuyo punto más alto es el volcán de Guadalupe o El Borrego, que se eleva a 2780 msnm. En algunas descripciones de la geografía capitalina se suele incluir al cerro de la Estrella como parte de la sierra de Santa Catarina.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Hacia la década de 1980, la situación ambiental de la Ciudad de México estaba al borde del desastre ecológico. El crecimiento de la actividad industrial hizo de la atmósfera de la otrora "región más transparente del aire" (según la frase de Alexander von Humboldt) una de las más contaminadas del planeta. El problema del abasto de agua se hizo más evidente, puesto que la ciudad no cuenta con fuentes propias y suficientes del líquido, y la demanda de la población y la industria superaban la oferta.</p> 
      </div>
    </div>
  </div>
</div>
