<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Durango</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/12606655/q%3D80_m%3D1500/e9edc4910910448474b06301992e1376"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Durango es uno de los estados que, junto con la Ciudad de México, integran las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Limita al norte con el estado de Chihuahua, al este con los estados de Coahuila y Zacatecas, al sur con Nayarit, y al oeste con Sinaloa. Ocupa el cuarto lugar nacional en superficie entre los treinta y un estados mexicanos.
        </p>
        <p class="text-justify">
          Se divide en 39 municipios. Su capital es la ciudad homónima: Durango, aunque su nombre oficial es Victoria de Durango en honor al primer presidente de México, Guadalupe Victoria, quien fue originario de este estado. La capital recibió su nombre de Francisco de Ibarra, conquistador español procedente de la población de Éibar, cercana a la villa de Durango, en la provincia vasca de Vizcaya, en España.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/d/d7/Durango_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de Durango con tan sólo un millón setecientos cincuenta y cuatro mil setecientos cincuenta y cuatro habitantes (1,754,754 según el Censo de Población y Vivienda 2015, INEGI), ocupa la posición nº24 de entre las 32 entidades federales. Con una tasa media de crecimiento anual tan pequeña que le tomará 250 años duplicar su población.A pesar de la baja densidad demográfica que presenta, 14 habitantes/km2</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó la encuesta realizada por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 15 de marzo de 2015, el estado de Durango contaba hasta ese año con un total de 1 754 754 habitantes, de dicha cantidad, 860 382 eran hombres y 894 372 eran mujeres. La tasa de crecimiento anual para la entidad durante el período 2010-2015 fue del 1,6% su población absoluta es de 1,754,754 y su población relativa es de 14 personas cada km.</p> 
      </div>
    </div>
  </div>
</div>
