<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Guerrero</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/72132613/q%3D80_m%3D1500/7b8a33136bab5ecd32088c4eab3cd1db"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
         Guerrero es uno de los estados, que junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Su capital es la ciudad de Chilpancingo de los Bravo. Colinda al norte con los estados de México (216 km) y Morelos (88 km), al noroeste con el estado de Michoacán (424 km), al noreste con el estado de Puebla (128 km), al este con el estado de Oaxaca (241 km) y al sur con el océano Pacífico (500 km).
        </p>
        <p class="text-justify">
          La geomorfología del estado es una de las más accidentadas y complejas de México; su relieve es atravesado por la Sierra Madre del Sur y las Sierras del Norte. En términos cartográficos, se suele llamar Sierra al sector occidental y Montaña al oriental.9 Entre ambas formaciones se ubica la depresión del río Balsas. Las lagunas más importantes del estado son la laguna Negra, la laguna de Coyuca y la laguna de Tres Palos.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <br/>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/0/03/Guerrero_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El Estado de Guerrero se localiza en la zona de coordenadas meridional de la República Mexicana, sobre el océano Pacífico y se ubica entre los 16º18´ y 18º48´ de latitud norte y los 98º03´ y 102º12´ de longitud oeste. Limita al norte con los estados de México (216 km) y Morelos (88 km), al noroeste con el estado de Michoacán (424 km), al noreste con el estado de Puebla (128 km), al este con el estado de Oaxaca (241 km) y al sur con el mar Mexicano (océano Pacífico) (500 km). Dentro de México pertenece a la Zona Pacífico Sur. El estado tiene una extensión de 63.794 km², es decir, el 3,2 % del total del territorio nacional. Ocupa el decimocuarto lugar en extensión territorial.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Guerrero es uno de los estados con la menor variación de población en su historia. Como casi no sufrió los estragos poblacionales de la guerra de Independencia y de la revolución mexicana (los dos movimientos sociales que han causado mayor pérdida humana en la historia de México, en el siglo XIX y en el siglo XX, respectivamente). Ha mantenido su población prácticamente estable, pero con algunos cambios, derivados principalmente de la migración, ya que Guerrero genera el 1,1 % de la migración total del país.</p> 
      </div>
    </div>
  </div>
</div>
