<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Guanajuato</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/33924957/q%3D80_m%3D1500/3c02da93e768db55bd72b4773c53520f"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Guanajuato es uno de los treinta y un estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Limita al oeste con el estado de Jalisco, al norte con los estados de Zacatecas y San Luis Potosí, al este con el estado de Querétaro, y al sur el estado de Michoacán. Tiene una extensión territorial de 30.608 km². Por esta extensión ocupa el vigésimo segundo lugar entre las entidades del país. Si se compara su extensión con la de otras entidades, Guanajuato cabe ocho veces en Chihuahua y es siete veces más grande que Tlaxcala.
        </p>
        <p class="text-justify">
          Se divide en 46 municipios. La capital del estado es la ciudad homónima: Guanajuato. Otras localidades importantes son León de los Aldama, San Miguel de Allende, Celaya, Irapuato, Cortázar, Salamanca, Moroleón, Dolores Hidalgo, Silao.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <br/>
        <br/>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/c/c7/Guanajuato_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de Guanajuato limita al noroeste con Zacatecas, al norte con San Luis Potosí, al noreste con San Luis Potosi y Queretaro al este con Querétaro, al sur con Michoacán, al sureste con Michoacan, al suroeste con Jalisco y con Michoacan y al oeste con Jalisco; su territorio ocupa una superficie de 30 491 km², que a título comparativo corresponde asimismo a la de Bélgica, a la de Lesoto o bien, a la de Galicia en España. Guanajuato se encuentra dentro de tres grandes provincias fisiográficas. En la parte norte, la Mesa del Centro; en el noreste, la Sierra Madre Oriental y en el centro sur, el Eje Neovolcánico. La Mesa del Centro tiene amplias llanuras interrumpidas por serranías volcánicas aisladas. Destacan los Llanos de Ojuelos con sus respectivos lomeríos y pequeñas sierras. Está constituida por terrenos planos rellenos de aluvión, donde la agricultura es próspera. En la porción noreste destaca la Sierra Gorda, con una abrupta topografía de origen volcánico. La provincia de la Sierra Madre Oriental, localizada en el noroeste del estado, ocupa el 5 % de la superficie de la entidad con elevados cerros, montañas, valles y barrancas profundos. La Sierra Madre Oriental es de origen sedimentario del tipo calizo, pero con una cobertura volcánica.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según las cifras que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Guanajuato contaba hasta ese año con un total de 5 486 372 habitantes, de dicha cantidad, 2 639 425 eran hombres y 2 846 947 eran mujeres.2 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 2.3 %.</p> 
      </div>
    </div>
  </div>
</div>
