<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Hidalgo</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/80567453/q%3D80_m%3D1500/0544cb3774ca281d41e2b7c7f6f336c8"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Estado de Hidalgo, oficialmente Estado Libre y Soberano de Hidalgo, generalmente conocido como Hidalgo; es uno de los treinta y un estados que, junto con la Ciudad de México, integran las treinta y dos entidades federativas de México. Cuenta con ochenta y cuatro municipios, su capital y ciudad más poblada, es Pachuca de Soto.
        </p>
        <p class="text-justify">
          Se ubica en la región centro-oriental de México. Tiene una superficie de 20 846 km², representando el 1.1 % de la superficie de México.7 Con las coordenadas: al norte, 21° 24’; al sur, 19° 36’ de la latitud norte; al este, 97° 58’; al oeste, 99° 53’ de la longitud oeste.8 Colinda al norte con los estados de San Luis Potosí y Veracruz, al este con el estado de Puebla, al sur con los estados de Tlaxcala y México, y al oeste con el estado de Querétaro.
        </p>
        <p class="text-justify">
          Según el último censo disponible (INEGI, 2010) el estado tiene una población total de 2 665 018; es decir, el 2.3 % del total del país.9 De esos habitantes, 1 379 796 son mujeres, y 1 285 222 son hombres.9 Los pueblos indígenas con mayor presencia dentro del estado son los otomíes, nahuas y tepehuas.10 11 Las diez localidades más pobladas del estado de Hidalgo para el 2010 fueron Pachuca de Soto, Tulancingo de Bravo, Tizayuca, Huejutla de Reyes, Ixmiquilpan, Tepeji del Río de Ocampo, Actopan, Tula de Allende, Ciudad Sahagún y Apan.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/9/9e/Hidalgo_in_Mexico_%28zoom%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El territorio que ocupa el estado de Hidalgo es de una vasta complejidad geológica, por su posición geográfica se encuentra entre tres provincias fisiográficas: Sierra Madre Oriental, Eje Neovolcánico y Llanura Costera del Golfo del Norte.
        En la parte norte y nororiental de la entidad, se encuentran elevaciones superiores a 2000 msnm.123 En la parte central del estado, de noroeste-sureste se encuentra el cañón de Metztitlán.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">egún el último censo disponible del INEGI, realizado en el año 2010 el estado tiene una población total de 2 665 018 personas, lo que representa el 2.4 % del total de México. De los cuales 1 379 796 son mujeres y 1 285 222 son hombres.181 Hidalgo ocupa el lugar 17 a nivel nacional por su número de habitantes. La distribución de población es: 52 % urbana y 48 % rural.</p> 
      </div>
    </div>
  </div>
</div>
