<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Estado de México</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/125926409/q%3D80_m%3D1500/6590f59f037fa9a62bb1e227c5ff057c"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          El Estado de México es uno de los treinta y un estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos. Es uno de los estados fundadores de la federación, y el de mayor densidad de población. Se encuentra en el centro sur del país y posee una superficie mayor a 22 000 km². Su gentilicio es mexiquense, para distinguir a sus pobladores de los ciudadanos del país, llamados mexicanos.
        </p>
        <p class="text-justify">
          Los orígenes del estado se encuentran en el territorio del extinto Imperio mexica, que mantuvo una división política de la Nueva España durante el período colonial español.
        </p>
        <p class="text-justify">
          Limita al norte con los estados de Querétaro e Hidalgo, al sur con los estados de Morelos y Guerrero; al oeste con el estado de Michoacán, al este con los estados de Tlaxcala y Puebla, y rodea a la Ciudad de México. Con sus más de quince millones de habitantes, es la entidad mexicana con mayor número de habitantes, de los cuales más de dos tercios se concentran en la Zona Metropolitana del Valle de México. Se divide en 125 municipios. Su capital es Toluca de Lerdo.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <br/>
        <br/>
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/2/2d/Mexico_%28state%29_in_Mexico.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">La mayor parte del territorio mexiquense se localiza en la parte central de la meseta de Anáhuac, y comprende los valles de México, Toluca, parte del valle de Puebla y las cadenas montañosas de Sierra Nevada, Monte de las Cruces, Monte Alto y Cumbres Occidentales. Sobre esta misma meseta se localizan importantes elevaciones como el volcán Popocatépetl (que significa en náhuatl "popoca" humear y "tepetl" cerro), el Iztaccíhuatl (que significa en náhuatl "izta" blanca y "cihuatl" mujer), el Nevado de Toluca (cuyo significado en náhuatl es "señor desnudo") y los cerros Tlaloc, Telapón y Jocotitlán (todos arriba de los 3.900 metros sobre el nivel medio del mar); La parte sur del territorio mexiquense se localiza dentro de la depresión del Balsas, misma que comparte con los estados de Guerrero, Michoacán, Puebla y Morelos.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Las actividades económicas más importantes del estado son la industria automotriz y textil. También se obtienen rentas considerables en materia de turismo. La actividad antigua más relevante era la agricultura pero, debido al crecimiento de la ciudad de México y a la gran cantidad de población urbana, esta actividad ha sido desplazada por el sector manufacturero. La pesca, en cambio, es una actividad con poco peso, pues el estado no tiene costas.</p> 
      </div>
    </div>
  </div>
</div>
