<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Michoacán</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/29656763/q%3D80_m%3D1500/029e7a97b4feecb93baca7af7f1e5591"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Michoacán (oficialmente llamado Michoacán de Ocampo) es uno de los treinta y un estados que junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Colinda con los estados de Colima y Jalisco al noroeste, al norte con los estados de Guanajuato y Querétaro, al este con el Estado de México, al sureste con el estado de Guerrero y al suroeste con el océano Pacífico. Tiene una superficie de 59.928 kilómetros cuadrados aproximadamente.
        </p>
        <p class="text-justify">
          Se divide en 113 municipios. Su capital es la ciudad de Morelia, antiguamente llamada Valladolid, que lleva su nombre actual en honor a José María Morelos y Pavón, héroe de la independencia de México. Otras localidades importantes son Zamora de Hidalgo, Ciudad Lázaro Cárdenas, Uruapan del Progreso, Apatzingán de la Constitución, Pátzcuaro, Sahuayo de Morelos, Heroica Zitácuaro, Ario de Rosales, Zacapu, Cotija de la Paz, entre otras.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/e/ee/Michoacan_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de Michoacán se ubica en el centro-oeste del territorio mexicano. Limita al norte con los estados de Guanajuato y Querétaro, al este con el estado de México, al sur con Guerrero al suroeste con el océano Pacífico y el noroeste con Colima y Jalisco. Cubre una superficie de 58,585 km², que representa el 3% de la superficie total del país, ocupando el lugar número 16 en extensión entre las 32 entidades federativas de México. Se encuentra ubicado entre las coordenadas 17º 55' y 20º 24' de latitud norte, y las coordenadas 100º 04' y 103º 44' de longitud oeste.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">La población económicamente activa del municipio en 2005 fue el 33,1% y el desempleo fue de 1,27%, la gente se ocupa mayoritariamente en el sector terciario (comercio y servicios), con 62,7% del total en 2005, seguido del sector secundario con el 24,56%. El ingreso promedio del municipio en salarios mínimos es de 3,5.</p> 
      </div>
    </div>
  </div>
</div>
