<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Morelos</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/98413557/q%3D80_m%3D1500/6fe881f7f444e77b1d962ed4dab98db4"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Morelos es uno de los 31 estados que junto con la Ciudad de México conforman las 32 entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Se localiza al centro del territorio nacional. Colinda al norte con la Ciudad de México, al noreste y noroeste con el estado de México, al sur con el estado de Guerrero y al oriente con el estado de Puebla.
        </p>
        <p class="text-justify">
          Al norte de la entidad, bordeando y sirviendo de frontera natural con el Distrito Federal se localiza una porción del Eje Neovolcánico, de la cual se desprenden las sierras de Zempoala, Tres Marías, Tepoztlán, Tlayacapan y Tlalnepantla, la mayor parte del territorio del estado se encuentra comprendido en la Depresión del Balsas. En el noreste se encuentra la sierra Nevada, cuya principal elevación es el volcán Popocatépetl, de la que parten las sierras de Chalma y Ocuilan, que se enlazan con las montañas del estado de Guerrero. Los principales ríos son el río Grande, el río Tepalcingo (ambos afluentes del Atoyac que fluye por el estado de Puebla) y el río Amacuzac que baña los campos de Tehuixtla. Entre las principales lagunas sobresalen la laguna El Rodeo, lagunas de Zempoala, la laguna Coatetelco y la laguna de Tequesquitengo.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/d/d6/Morelos_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de Morelos se localiza en la parte central del país, en la vertiente del sur de la serranía del Ajusco y dentro de la cuenca del río .
        Variadas son las alturas en el estado, desde 5,432 metros sobre el nivel del mar, en la cima del volcán Popocatepetl, hasta los 720 metros en la parte sur, cerca del poblado de Huaxtla. Colinda al norte con la Ciudad de México y el estado de México; al sur con Guerrero; al este con Puebla; y al oeste con el estado de México y Guerrero.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Morelos contaba hasta ese año con un total de 1 777 227 habitantes, de dicha cantidad, 858 588 eran hombres y 918 639 eran mujeres.2 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 2 %.</p> 
      </div>
    </div>
  </div>
</div>
