<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Morelos</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/102639409/q%3D80_m%3D1500/8c039f448ced7a4edffa6c10b51bcdc8"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <%= link_to "Mas información de Jalisco", "http://www.jalisco.gob.mx/", class:"lead blog-description" %>
        <p class="text-justify">
          Jalisco es uno de los estados, que junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos. Es la tierra de los charros, jaripeos, mariachi, tequila y muchas de las tradiciones culturales que en el mundo se asocian con lo auténticamente mexicano.
        </p>
        <p class="text-justify">
          Se encuentra situado en la zona occidental del país. Colinda con el estado de Nayarit hacia el noroeste; con los estados de Zacatecas y Aguascalientes hacia el norte; con el estado de Guanajuato hacia el este; y con los estados de Colima y Michoacán hacia el sur. Hacia el poniente, tiene una importante franja costera con el océano Pacífico.
        </p>
        <p class="text-justify">
          El clima en el estado va de cálido subhúmedo a semiseco templado, destacando el semicálido subhúmedo con lluvias en verano.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/b/b0/Jalisco_in_Mexico_%28location_map_scheme%29.svg", width:"350" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El Estado de Jalisco se localiza en la zona occidente de la República Mexicana. Se encuentra limitado al norte por los Estados de Zacatecas, Aguascalientes; al noroeste con Nayarit; al noreste con Guanajuato y San Luis Potosí; al sur con Colima; al sureste con Michoacán y al suroeste con el Océano Pacífico. Tiene una extensión territorial de 80.137 km², lo que representa el 4,09% de la superficie total de México.</p> 
      </div>
      <div class="col m8">
        <h5>Población</h5>
        <p class="text-justify">Con fecha censal del 12 de junio de 2010, el estado de Jalisco contaba hasta ese año con un total de 8 079 782 habitantes, de dicha cantidad, 4 064 941 eran hombres y 4 014 841 eran mujeres.  La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 1,7%.16  Según indica este censo, 4.434.252 de los jaliscienses viven en la zona metropolitana de Guadalajara. La población aumentó aproximadamente 750.000 habitantes desde el último conteo, realizado en 2005. Hoy en día, la población del Estado representa el 6,5% del total del país.</p> 
      </div>
      <div class="col m4">
        <%= image_tag "https://drscdn.500px.org/photo/135211291/q%3D80_m%3D1500/4eb5f8fa1bd7e333c7eb4603f96fc210", width:"350" , height:"200", class:"materialboxed" %>
      </div>
    </div>
  </div>
</div>
