<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Nayarit</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/63897273/q%3D80_m%3D1500/309f8aaeeda77e566be8e72254403b1a"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Nayarit es uno de los estados, que junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Se ubica en el noroeste del territorio de México. Colinda con los estados de Sinaloa, Durango y Zacatecas hacia el norte, y con el estado de Jalisco hacia el este y sur. Hacia el poniente tiene una importante franja costera en el océano Pacífico, donde posee también las Islas Marías, la Isla Isabel, las Tres Marietas y el Farallón La Peña.
        </p>
        <p class="text-justify">
          Se divide en 20 municipios. Su capital es Tepic. Otras localidades importantes son Nuevo Vallarta, Valle de Banderas (ambas en el municipio de Bahía de Banderas), Santiago Ixcuintla, Acaponeta, Compostela, Jala, Santa María del Oro, Rosamorada, Xalisco, San Pedro Lagunillas, Huajicori.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/3/38/Nayarit_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Se ubica en el noroeste del territorio de México. Colinda con los estados de Sinaloa, Durango y Zacatecas hacia el norte, y con el estado de Jalisco hacia el este y sur. Hacia el poniente tiene una importante franja costera en el Océano Pacífico, donde posee también las Islas Marías, la Isla Isabel, las Tres Marietas y el Farallón La Peña.
        Se divide en 20 municipios. Su capital es Tepic. Otras localidades importantes son Nuevo Vallarta, Valle de Banderas (ambas en el municipio de Bahía de Banderas), Santiago Ixcuintla, Acaponeta, Compostela, Santa María del Oro, Rosamorada, Xalisco, San Pedro Lagunillas, Huajicori.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Nayarit contaba hasta ese año con un total de 1.084.979 habitantes, de dicha cantidad, 541.007 (49.9 %) eran hombres y 543.972 (50.1 %) eran mujeres.3 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 2,7%.</p> 
      </div>
    </div>
  </div>
</div>
