<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Nuevo León</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/81409095/q%3D80_m%3D1500/d21d2865ecb497f7c510cc10f9475a3c"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Nuevo León es uno de los treinta y un estados que, junto con la Ciudad de México conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Limita al sur y suroeste, con San Luis Potosí; al este con Tamaulipas, con el cual comparte todo el límite del lado este; y por el oeste, con los estados de Coahuila y Zacatecas. Cuenta con una zona fronteriza en el norte que se extiende 15 kilómetros con el estado de Texas.
        </p>
        <p class="text-justify">
          Se divide en 51 municipios. Su capital es Monterrey. Los municipios de Apodaca, Cadereyta Jiménez, García, General Escobedo, Guadalupe, Juárez, Salinas Victoria, San Nicolás de los Garza, San Pedro Garza García, Santa Catarina y Santiago, junto con Monterrey, forman la Zona Metropolitana de Monterrey; la tercera más importante del país. Otras localidades importantes son Allende, Agualeguas, Linares, Montemorelos, China, Mier y Noriega, Hualahuises, Sabinas Hidalgo, Doctor Arroyo, Mina, Cadereyta Jiménez, Lampazos de Naranjo y Anáhuac.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/f/f8/Nuevo_Leon_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El clima de Nuevo León es en su mayor parte estepario semiseco y las lluvias son comunes entre mayo y septiembre. En el cañón del Huajuco y la zona citrícola se halla un microclima subtropical, mientras que en la Sierra Madre el clima es templado, la mitad norte del territorio es de clima estepario con veranos muy cálidos e inviernos considerablemente fríos, presentándose heladas con frecuencia en el invierno o incluso nieve.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">El estado está dividido en 51 municipios, entre los cuales el municipio de Monterrey es donde se concentra la mayor parte de la población. Los municipios son encabezados por el presidente municipal (alcalde), con un mandato de duración de tres años. Los presidentes municipales pueden ser electos en varios períodos no consecutivos.</p> 
      </div>
    </div>
  </div>
</div>
