<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Puebla</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/69163791/q%3D80_m%3D1500/ff992c4e1f87e02741db82c46bcdfed7"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Puebla es una de las 32 entidades federativas de México. Se localiza en el centro oriente del territorio mexicano. Colinda al este con el estado de Veracruz, al poniente con los estados de Hidalgo, México, Tlaxcala y Morelos y al sur con los estados de Oaxaca y Guerrero. Puebla no tiene salida al mar y presenta un relieve sumamente accidentado. Su superficie es de 34.306 km², en la cual viven más de cinco millones de personas, que convierten a este estado en el quinto más poblado del país. La capital del estado es Puebla de Zaragoza, la cuarta ciudad mexicana por el número de sus habitantes.
        </p>
        <p class="text-justify">
          El estado de Puebla ha sido de gran importancia en la historia de México. Dentro de él se han hallado los restos más antiguos del cultivo de maíz y camotes en la región de Tehuacán; fue el escenario de ciudades prehispánicas tan importantes como Cantona y Cholula. Durante la época virreinal, la ciudad de Puebla llegó a ser la segunda ciudad en importancia de la Nueva España, gracias a su ubicación estratégica entre la Ciudad de México y el puerto de Veracruz.
        </p>
        <p class="text-justify">
          A finales del siglo XIX, el estado fue uno de los primeros en industrializarse, gracias a la introducción de telares mecánicos que favorecieron el desarrollo de las actividades textiles. A pesar de todo ello, en fechas más recientes, municipios de las regiones Mixteca, de la Sierra Norte y de la Sierra Negra se han convertido en expulsores netos de población, cuyos destinos principales son la Ciudad de México, y desde hace dos décadas a los Estados Unidos.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/0/0b/Puebla_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Puebla ocupa la 21ª posición entre las 32 entidades federativas mexicanas por su superficie de 34.251 kilómetros cuadrados.25 Limita al norte con el estado de Hidalgo; al este, con el estado de Veracruz; al sur, con Oaxaca y Guerrero; y al poniente con los estados de Morelos, México, Tlaxcala e Hidalgo. No tiene salida al mar, aunque hasta antes de 1849, cuando fue creado el estado de Guerrero, poseía una salida al Océano Pacífico, y también tuvo el control del partido de Tuxpan, que pasó a ser parte del estado de Veracruz. La mayor parte del territorio poblano se encuentra en el Eje Neovolcánico Transversal. El clima es distinto entre regiones, y va del frío de las altas montañas al cálido semidesierto de la Mixteca.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Puebla es la quinta entidad federativa más poblada de México. Es habitada por 5 779 829 personas y aproximadamente un quinto de ellas está en el municipio de Puebla, donde se encuentra la capital del estado y aproximadamente un tercio de los habitantes del estado se encuentran en la Zona Metropolitana de Puebla. En contraste, existen regiones con una baja densidad de población especialmente en las regiones de La Mixteca y el Valle de Tehuacán. La población urbana representa el 71.8% y la rural un 28.2%.</p> 
      </div>
    </div>
  </div>
</div>
