<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Quintana Roo</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/110362049/q%3D80_m%3D1500/3e5623e22b3e4db6f4fdfbd8443c96f5"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Quintana Roo es uno de los 31 estados que junto con la Ciudad de México conforman las 32 entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Está situado al este de la península de Yucatán, en la frontera con Centroamérica. Colinda con los estados de Yucatán hacia el noroeste y Campeche al oeste; al norte con el golfo de México; al sur el río Hondo delimita su frontera con Belice.11 Las playas al oriente de su territorio son bañadas por las aguas del mar Caribe. Sus localidades más pobladas son Cancún, Chetumal, Playa del Carmen, San Miguel de Cozumel y Tres Garantías.
        </p>
        <p class="text-justify">
          Es junto con Baja California Sur la entidad más joven del país (ambas promovidas de Territorio Federal a Estado Libre y Soberano, el 8 de octubre de 1974).
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/87/Quintana_Roo_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Quintana Roo conforma una región con grandes llanuras y pequeñas declives y elevaciones hacia el este. El suelo predominantemente calizo y permeable, permite por ende la filtración del agua de las lluvias hacia las capas interiores de los sistemas subterráneos acuíferos, formando asimismo los ya mencionados depósitos y corrientes subterráneas, que abastecen de agua a las poblaciones menores mediante los pozos. Los cenotes son masas de agua que afloran hacia la superficie de la corteza terrestre; su origen radica en la erosión del agua de las cavernas, que las hace derrumbarse y desplomarse originando dichos afloramientos de agua. Como dijimos Quintana Roo es una planicie de origen marino conformada por rocas del mioceno y el pleistoceno, exceptuando a las rocas de las colinas de color rojo intenso.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Quintana Roo contaba hasta ese año con un total de 1.325.578 habitantes, de dicha cantidad, 673.220 eran hombres y 652.358 eran mujeres.6 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 3.1%.</p> 
      </div>
    </div>
  </div>
</div>
