<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Querétaro</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/102234927/q%3D80_m%3D1500/9ae9f02ad426b4bfacd7a31f150aec23"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Querétaro es uno de los estados que, junto con la Ciudad de México, integran las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Se ubica en el centro del país y limita, al norte con el estado de San Luis Potosí, al oeste con el estado de Guanajuato, al este con el estado de Hidalgo, al sureste con el Estado de México, y al suroeste con el estado de Michoacán.
        </p>
        <p class="text-justify">
          Es un estado con un creciente índice de desarrollo industrial y acelerado desarrollo empresarial. Contiene varios sitios declarados Patrimonio Cultural de la Humanidad por la Unesco en 1996, y se considera Cuna de la Independencia de México. Es la entidad donde se redactó la Constitución de 1917, vigente.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/1/1e/Queretaro_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Se ubica en el centro del país. Limita al norte con el estado de San Luis Potosí, al oeste con el estado de Guanajuato, al este con el estado de Hidalgo, al sureste con el estado de México, y al suroeste con el estado de Michoacán. Se divide en 18 municipios. Su capital es la ciudad de Santiago de Querétaro (ubicada a unos 200 km al noroeste de la Ciudad de México), de quien toma su nombre</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Querétaro contaba hasta ese año con un total de 1 827 937 habitantes, de dicha cantidad, 887 188 eran hombres y 940 749 eran mujeres. La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 2.7 %.</p> 
      </div>
    </div>
  </div>
</div>
