<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Sinaloa</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/125884027/q%3D80_m%3D1500/ac3c9eba656c0cf0925e114a0e04e58c"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Sinaloa es uno de los estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Se encuentra situado al noroeste del país, en la costa del golfo de California. Limita al norte con el estado de Sonora, al este con los estados de Chihuahua y Durango (separado de ellos por la Sierra Madre Occidental), al sur con el estado de Nayarit, y al oeste con el océano Pacífico y golfo de California o mar de Cortés.
        </p>
        <p class="text-justify">
          Es el estado agrícola más importante de México. Adicionalmente, cuenta con la segunda flota pesquera más grande del país. Culturalmente, es conocida a nivel nacional e incluso mundial por su música típica, la Banda o Tambora. La Ulama, versión regional de juego de pelota prehispánico, se practica todavía en el estado.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/4/49/Sinaloa_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Sinaloa se ubica en el Noroeste del país, entre las coordenadas 22° 31' y 26° 56' de Latitud norte y los 105° 24' y 109° 27' de longitud oeste. El estado cuenta con una superficie total de , de los cuales corresponden a su superficie continental y a su superficie insular. El estado de Sinaloa representa 2,9 % de la superficie del país.
        Sinaloa está ubicada en una región naturalmente fértil, cuenta con 12 ríos y 12 presas. Cuenta con 656 kilómetros del litoral pertenecientes en su mayoría al Golfo de California y el resto al Océano Pacífico, lo que representa el 5,6% del total nacional. Además de tener 12 bahías y 15 esteros, cuenta con de plataforma continental y 221.600 hectáreas de lagunas litorales</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Sinaloa contaba hasta ese año con un total de 2 967 961 habitantes, de dicha cantidad, 1 476 201 eran hombres y 1 491 560 eran mujeres. La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 1,2%.</p> 
      </div>
    </div>
  </div>
</div>
