<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">San Luis Potosí</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/102525481/q%3D80_m%3D1500/7289931ce6e3e05a32c034f2fb3ded70"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
         San Luis Potosí es uno de los treinta y un estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
       </p>
       <p class="text-justify">
        Se ubica en la región centro-norte del territorio nacional, y ocupa un área muy amplia del altiplano mexicano. Con su extensión territorial de 63 068 km2, es el decimoquinto estado por extensión del país.
      </p>
      <p class="text-justify">
        Colinda al norte con el estado de Nuevo León, al noreste con el estado de Tamaulipas, al este con el estado de Veracruz, al sureste con el estado de Hidalgo, al oeste con el estado de Zacatecas, y al sur con los estados de Querétaro y Guanajuato.
        Se divide en 58 municipios. Su capital, y ciudad más poblada e importante, es San Luis Potosí, a quien debe su nombre. Otras localidades importantes son Matehuala, Tamasopo, Rioverde, Tamuín, Ciudad Valles, Tamazunchale, Cerro de San Pedro, Vanegas, Ciudad del Maíz, Axtla de Terrazas, Charcas.
      </p>
    </div>
    <div class="col s12 m12 l12">
      <p id="chart"></p>        
      <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/4/48/San_Luis_Potosi_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de San Luis Potosí se encuentra localizado en la altiplanicie central mexicana.
          La superficie total del estado es de 60,546.79 km2 y representa aproximadamente el tres por ciento de la superficie total del país.
          Los límites geográficos, en coordenadas geográficas, son 24° 29' norte, 21° 10' sur (de latitud norte); 98° 20' este, 102° 18' oeste (de longitud oeste). Sus colindancias son: al norte, con el estado de Coahuila; al noreste, con Nuevo León y Tamaulipas; al este, con Veracruz; al sur, con Hidalgo, Querétaro y Guanajuato; y al oeste, con Zacatecas.

        </p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2012, el estado de San Luis Potosí contaba hasta ese año con un total de 2,585,518 habitantes, de dicha cantidad, 1,260,366 eran hombres y 1,325,152 eran mujeres.2 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 1.4%.</p> 
      </div>
    </div>
  </div>
</div>
