<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Sonora</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/44900610/q%3D80_m%3D1500/86313d0cd9811b229219662db12be82e"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Sonora es uno de los estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Se ubica en la región noroeste del país. Es conocido por sus características desérticas, su clima caluroso y sus playas. Colinda al este con el estado de Chihuahua; al sur, con el estado de Sinaloa; al noroeste, con el estado de Baja California; al norte, comparte una extensa frontera con el estado estadounidense de Arizona y una más pequeña con Nuevo México, también en Estados Unidos, y hacia el oeste colinda con el mar de Cortés o golfo de California. Ocupa el segundo lugar nacional en extensión, después de Chihuahua, con un 9,2 % del total del territorio mexicano.
        </p>
        <p class="text-justify">
          El territorio está conformado por cuatro provincias fisiográficas: la Sierra Madre Occidental, las Sierras y Valles Paralelos en el centro, el desierto y la costa del golfo de California. Está compuesto principalmente por desiertos semi-áridos y praderas, en donde solo en las elevaciones más altas se presenta suficiente lluvia para sostener otros tipos de vegetación.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/3/3b/Sonora_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de Sonora cuenta con una superficie territorial, forma parte de los Estados Unidos Mexicanos, se encuentra ubicado en su región noroeste y ocupa el segundo lugar en extensión de entre todas las entidades federativas de la República mexicana, con una porción de 9.2% del total de la superficie.
        Su situación geográfica, se sitúa entre los 32°29' y los 26°14' de latitud Norte y entre los 108°26' y los 105°02' de longitud Oeste del meridiano de Greenwich. Limita al norte con los Estados Unidos de América, al sur con el estado de Sinaloa, al este con Chihuahua y al oeste con el golfo de California y la Baja California. Su fisiografía está constituida en su mayoría por llanuras y sierras.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">De acuerdo con los resultados del Censo de Población y Vivienda 2010 del Instituto Nacional de Estadística y Geografía (INEGI), el estado de Sonora contaba con 2,882,628 habitantes, que representó el 2.4% de la población de México. Del total, 50.3% eran hombres y 49.7% eran mujeres. La tasa de crecimiento poblacional anual para la entidad durante el período 2005-2010 fue del 2.1%.11 El crecimiento de la población ha sido constante en desde 1940. El censo también indicó que la mitad de la población tiene 26 años o menos./p> 
      </div>
    </div>
  </div>
</div>
