<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">¿Quiénes somos?</span>
          <hr class="star-light">
          <span class="skills">¿Qué es Lorem Ipsum? ¿Por qué lo usamos?</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Jalisco</h1>
    <%= link_to "Mas información de Jalisco", "http://www.jalisco.gob.mx/", class:"lead blog-description" %>
    <p><br/></p>
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <p class="blog-post-meta text-justify">
          Jalisco es uno de los estados, que junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos. Es la tierra de los charros, jaripeos, mariachi, tequila y muchas de las tradiciones culturales que en el mundo se asocian con lo auténticamente mexicano.
        </p>
        <p class="blog-post-meta text-justify">
          Se encuentra situado en la zona occidental del país. Colinda con el estado de Nayarit hacia el noroeste; con los estados de Zacatecas y Aguascalientes hacia el norte; con el estado de Guanajuato hacia el este; y con los estados de Colima y Michoacán hacia el sur. Hacia el poniente, tiene una importante franja costera con el océano Pacífico.
        </p>

        <p class="blog-post-meta text-justify">
          El clima en el estado va de cálido subhúmedo a semiseco templado, destacando el semicálido subhúmedo con lluvias en verano.
        </p>

        <p class="blog-post-meta text-justify">
          Es la cuarta entidad federativa más poblada de México; y uno de los estados más desarrollados en el país en cuanto a actividades económicas, comerciales y culturales. En ciertas partes de la capital y de algunos municipios, el nivel de vida es comparable a países desarrollados. Pero, al igual que en el resto de México, no es representativo de todos los municipios.
        </p>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <div class="col-sm-4">
      <div class="thumbnail"> 
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/b/b0/Jalisco_in_Mexico_%28location_map_scheme%29.svg", width:"350" , height:"200"%><div class="caption">
        <h6>Geografía</h6>
        <p>El Estado de Jalisco se localiza en la zona occidente de la República Mexicana. Se encuentra limitado al norte por los Estados de Zacatecas, Aguascalientes; al noroeste con Nayarit; al noreste con Guanajuato y San Luis Potosí; al sur con Colima; al sureste con Michoacán y al suroeste con el Océano Pacífico. Tiene una extensión territorial de 80.137 km², lo que representa el 4,09% de la superficie total de México.</p> 
      </div>
    </div>
  </div>
</div>

</div>