<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Tabasco</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/96002149/q%3D80_m%3D1500/59f0db4b82499adce882475457a3fcbd"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Tabasco es una de las treinta y dos entidades federativas (o estados) que conforman los Estados Unidos Mexicanos (México). Se localiza en el sureste del país, y cuenta con 191 (1,58%) de los 11 593 km de la costa del país. Colinda: al norte, con el golfo de México; al noreste, con el estado de Campeche; al sureste, con la República de Guatemala; al oeste, con el estado de Veracruz, y al sur, con el estado de Chiapas. La superficie de su territorio ocupa una extensión cercana a los 25 000 km², que lo colocan en la vigésimo cuarta posición en la lista de los estados mexicanos ordenados por superficie.
        </p>
        <p class="text-justify">
          Según el II Censo de Población, llevado a cabo por el Instituto Nacional de Estadística y Geografía en el 2010, en Tabasco habitan 2 238 603 personas, por lo que se trata del estado más poblado de todo el sureste mexicano. El español convive en Tabasco con numerosas lenguas indígenas, todas ellas reconocidas como lenguas oficiales de entre las lenguas de México, aunque solamente el 3 por ciento de su población habla alguna de ellas, por debajo del promedio nacional, del 6,7%.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/b/b1/Tabasco_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado se localiza al sureste de México y se extiende por la llanura costera del golfo de México, con su porción meridional sobre la sierra del norte de Chiapas. El estado de Tabasco se encuentra formado por llanuras bajas y húmedas de origen aluvial, efecto de la acción de los ríos; en la zona de la Chontalpa y parte de los municipios de Centla y Jonuta, existen depresiones pantanosas e inundables, tanto por las avenidas de los ríos como por las aguas que atraen perturbaciones ciclónicas y abundantes lluvias.</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Tabasco contaba hasta ese año con un total de 2 238 603 habitantes, de dicha cantidad, 1 100 758 eran hombres y 1 137 845 eran mujeres.82 La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 2.4%.</p> 
      </div>
    </div>
  </div>
</div>
