<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Tamaulipas</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/78339271/q%3D80_m%3D1500/1960937d39c88cf4210002e1c8da99ef"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Tamaulipas es uno de los estados, que junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos.
        </p>
        <p class="text-justify">
          Limita con Nuevo León por el poniente, con el golfo de México hacia el levante, con Veracruz y San Luis Potosí hacia el mediodía, y al septentrión conlleva una luenga frontera con el estado estadounidense de Texas. De acuerdo con el último Conteo de Población y Vivienda 2010, Tamaulipas tiene una masa demográfica de 3.268.554 moradores.
        </p>
        <p class="text-justify">
          Se particiona en 43 municipios. Su capital es Ciudad Victoria. Otras poblaciones importantes son Tampico, Reynosa, Matamoros, Nuevo Laredo, Ciudad Madero, Altamira, Río Bravo, Ciudad Mante, Xicoténcatl y Valle Hermoso.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/d/d6/Tamaulipas_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">Tamaulipas posee una superficie equivalente al territorio combinado de Bélgica y Holanda o El Salvador y Costa Rica. Es atravesada por el trópico de Cáncer al sur de la capital, Ciudad Victoria, y el clima varía de acuerdo a la zona; en el sur y sureste es húmedo, en el altiplano y serranías es seco y en el centro y noroeste es semi-cálido, con lluvias escasas; la temperatura media de Matamoros en enero (15 °C) y en julio (28,5 °C), de Tampico en enero (18 °C) y en julio (28,5 °C). La precipitación anual promedio es de 891 mm y la humedad relativa promedio es de 67,5 %.</p> 
      </div>
      <div class="col m8">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Tamaulipas contaba hasta ese año con un total de 3 468 654 habitantes, de dicha cantidad, 1 616 201 eran hombres y 1 652 353 eran mujeres. La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 1,6%. Solamente 0,8% de la población es hablante de alguna lengua indígena. El 63% de la población profesa la fe católica, mientras que el resto declara profesar diversos cultos. Según el Censo Nacional de Población y Vivienda 2010</p> 
      </div>
    </div>
  </div>
</div>
