<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Tlaxcala</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/71750081/q%3D80_m%3D1500/8416010677ce8bb128c46b2b0f3fda85"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
         El Estado de Tlaxcala (del náhuatl Tlaxcallān) oficialmente llamado Estado Libre y Soberano de Tlaxcala es una de las 32 entidades federativas que conforman a México. Se divide internamente en 60 municipios y su capital es la Ciudad de Tlaxcala de Xicohténcatl.
        </p>
        <p class="text-justify">
          Esta localizado en la región centro-oriental del país, en la región del altiplano, con una porción en el oriente dominada por la Sierra Madre Oriental. Colinda con lo estados de Puebla, al norte, este y sur, México hacia el oeste e Hidalgo al noroeste. Después de la Ciudad de México, es la entidad federativa más pequeña de la república, ya que sólo representa el 0,2% del territorio del país.
        </p>
        <p class="text-justify">
          El estado es el nombre de su capital, Tlaxcala, que también era el nombre de la ciudad y la cultura prehispánica. Los tlaxcaltecas se aliaron con los españoles para derrotar a los aztecas, con concesiones por parte de estos último lo que les permitió permanecer casi intactos a lo largo de 300 años de periodo colonial. Fue reconocido como territorio federal de México en la Constitución de 1824, bajo dependencia del gobierno de Puebla. En 1857 se convirtió en el vigésimo segundo estado de la república. Su administración territorial también cambió pasando de municipios a partidos, distritos y de nuevo municipios. Entre agosto y octubre de 1995 se crearon dieciséis ayuntamientos nuevos.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/f/fa/Tlaxcala_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado se localiza en la parte centro-oriente del país entre las coordenadas 19º 44' y 19º 06' Norte y 97º 438' - 98º 46' Oeste. Limita en su mayor parte con Puebla al norte, este y sur, al oeste con el Estado de México y al noroeste con Hidalgo. La entidad se localiza en la región del Eje Neovolcánico, que atraviesa como un cinturón la parte central de México, de oriente a poniente hasta alcanzar el mar por ambos lados. En el paisaje se distinguen volcanes y sierras volcánicas de todos tipos y tamaños, llanos extensos que una vez fueron lagos acorralados entre montañas y bosques, pastizales y matorrales de clima templado.</p> 
      </div>
      <div class="col m8">
        <h5>Población</h5>
        <p class="text-justify">Según los datos que arrojó el II Censo de Población y Vivienda realizado por el Instituto Nacional de Estadística y Geografía (INEGI) con fecha censal del 12 de junio de 2010, el estado de Tlaxcala contaba hasta ese año con un total de 1 169 936 habitantes, de dicha cantidad, 565 775 eran hombres y 604 161 eran mujeres. La tasa de crecimiento anual para la entidad durante el período 2005-2010 fue del 1.8%.</p> 
      </div>
    </div>
  </div>
</div>
