<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Veracruz</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/105173411/q%3D80_m%3D1500/b71cce4cdce6282bf6f02c07124ffd93"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Veracruz es un municipio y la ciudad más grande e importante del estado de Veracruz de Ignacio de la Llave, así como la ciudad central que da nombre al área urbana denominada como Zona Metropolitana de Veracruz. Tiene el puerto marítimo comercial más importante de México. Con una población de 552,156 habitantes para 2010.
        </p>
        <p class="text-justify">
          Está ubicada a 90 km de distancia de la capital del estado Xalapa y a 400 km de distancia de la Ciudad de México. Colinda al norte con el municipio de La Antigua y el Golfo de México; al sur con los municipios de Medellín y Boca del Río; al este con el Golfo de México y al oeste con los municipios de Manlio Fabio Altamirano y Paso de Ovejas. Su clima es tropical cálido, con una temperatura media anual de 25.3 °C y con una precipitación media anual de 1500 mm.
        </p>
        <p class="text-justify">
          Históricamente esta ciudad y puerto destaca por haber sido fundada por Hernán Cortés, encontrándose en la región por la que los españoles desembarcaron para emprender la conquista de Tenochtitlan. Además ha recibido el nombramiento de Cuatro veces heroica por decreto presidencial, a raíz de haber enfrentado cuatro distintas invasiones extranjeras.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Mexico_Veracruz_location_map_%28urban_areas%29.svg/512px-Mexico_Veracruz_location_map_%28urban_areas%29.svg.png", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografia</h5>
        <p class="text-justify">Según resultados preliminares del censo 2000, se encontraron edificadas en el municipio 123.544 viviendas, con un promedio de 3,68 de ocupantes por vivienda, la mayoría son propias y de tipo fija, los materiales utilizados principalmente para su construcción son el cemento, el tabique, el ladrillo, el block, la madera, la lámina. Así como también se utilizan materiales propios de la región.</p> 
      </div>
      <div class="col m12">
        <h5></h5>
        <p class="text-justify">El clima es tropical cálido, con una temperatura media anual de 25.3 °C y precipitación media anual de 1500 mm. Durante los meses de septiembre, octubre, noviembre, diciembre, enero y febrero se presenta el fenómeno conocido como "norte", que son rachas de viento provenientes del Norte y que alcanzan velocidades aproximadamente desde los 50 hasta los 130 kilómetros por hora. En algunas ocasiones la temperatura desciende varios grados, aunque su duración es breve; de uno a tres días.</p> 
      </div>
    </div>
  </div>
</div>
