<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign">Yucatán</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/4583303/q%3D80_m%3D1500/ae9898b58074c0cc7f9f019a5aa70fcc"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l12">
        <p class="text-justify">
          Yucatán es uno de los treinta y un estados que, junto con la Ciudad de México, conforman las treinta y dos entidades federativas de los Estados Unidos Mexicanos. El estado se localiza en el sureste de México y en el norte de la península de Yucatán. Limita al norte por el golfo de México, al sureste por el estado de Quintana Roo y al suroeste por el estado de Campeche.
        </p>
        <p class="text-justify">
          Antes de la llegada de los españoles a la península de Yucatán, el nombre de esta región era el Mayab,11 que en lengua maya (ma' ya'ab), se traduce como unos pocos. Fue una región muy importante para la civilización maya, especialmente durante el denominado período posclásico, aunque los asentamientos mayas más remotos en la región se estima que datan del siglo III d. C.
        </p>
        <p class="text-justify">
          Muchas de las ciudades mayas de la región peninsular subsistieron después del colapso de las ciudades de la región maya original y algunas de ellas seguían habitadas a la llegada de los españoles, a principios del siglo XVI.
        </p>
      </div>
      <div class="col s12 m12 l12">
        <p id="chart"></p>        
        <aside class="center-align">Mueve el apuntador sobre el año para desplazarse.</aside>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col m4">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/d/db/Yucatan_in_Mexico_%28location_map_scheme%29.svg", width:"300" , height:"200", class:"materialboxed" %>
      </div>
      <div class="col m8">
        <h5>Geografía</h5>
        <p class="text-justify">El estado de Yucatán está ubicado en el sureste de México, en la península de Yucatán.
        La superficie del estado es de 43 379 km², ubicándolo en el lugar número 20 de los estados de México por superficie y representa, aproximadamente, el 2,21% de la superficie total del país. También cuenta con 340 km de costa, lo que representa el 3,1% del total nacional</p> 
      </div>
      <div class="col m12">
        <h5>Población</h5>
        <p class="text-justify">La población de Yucatán era de 1 955 577 habitantes en 2010, lo que lo convierte en el vigésimo primer estado más poblado de México. La ciudad de Mérida alberga al 42,5% de la población estatal, mientras que la Zona Metropolitana de Mérida ocupa el 49,3 %. El estado tiene uno de los índices de desarrollo humano de nivel medio-alto de México desde hace una década</p> 
      </div>
    </div>
  </div>
</div>
