<script id="legend-table-template" type="text/x-handlebars-template">
      {{#each this}}
        <div class="col s12">
          <div style="width:18px;height:18px;background-color:{{color}};"></div>
          <input type="checkbox" name="{{name}}" id="{{name}}" {{checked}}>
          <label for="{{name}}">{{name}}</label>
        </div>
      {{/each}}
</script>
