<script id="legend-table-template" type="text/x-handlebars-template">
  <table class="table">
    <tbody>
      {{#each this}}
        <tr>
          <td><div style="width:18px;height:18px;background-color:{{color}};"></div></td>
          <td>{{name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>
