<style>

  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }

  .arc path {
    stroke: #fff;
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="graphs"></div>
    </div>
  </div>
</div>