<style>

  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }

  .arc path {
    stroke: #fff;
  }
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="graphs"></div>
    </div>
    <div class="col-md-12">
      <div id="legend">
        
      </div>
    </div>
  </div>
</div>

<script id="legend-table-template" type="text/x-handlebars-template">
  <table class="table">
    <thead>
      <th>algo</th>
      <th>algo</th>
    </thead>
    <tbody>
      {{#each this}}
        <tr>
          <td>{{color}}</td>
          <td>{{name}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</script>