<div class="jumbotron" id="jumbotron" style="background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,0.89) 47%,rgba(163,220,255,0.77) 98%,rgba(161,219,255,0.77) 100%);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div id="graphs"></div>
      </div>
      <div class="col-md-2">
        <div id="legend"></div>
      </div>
    </div>
  </div>
</div>

<%= hidden_field('data','url',:value => url_for(controller: 'welcome', action: 'data_sample' )) %>
<%= render "welcome/legend_indicator.html" %>
