<header>
  <div class="container-fluid" style="padding-top: 120px; background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,0.89) 47%,rgba(163,220,255,0.77) 98%,rgba(161,219,255,0.77) 100%);">  
    <div class="row">
      <div class="col-md-8 col-sm-7">
        <div id="graphs"></div>
      </div>
      <div class="col-md-4 col-sm-5">
        <div id="legend"></div>
      </div>
    </div>
  </div>
</header>

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>¿Como es la vida?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p class="text-justify">Hay más en la vida que los números fríos del PIB y las estadísticas económicas - Este índice permite comparar el bienestar de un estado a otro, basado en 11 temas de la OCDE ha identificado como indispensables, en las áreas de las condiciones materiales de vida y calidad de vida.</p>
        </div>
        <div class="col-lg-4">
          <p class="text-justify">¿Qué es lo que más importa a las personas en todo el mundo? Más de 100.000 usuarios del Índice de Vida Mejor en todo el mundo han compartido sus puntos de vista sobre lo que hace para una vida mejor.</p>
        </div>
        <div style="padding-bottom: 100px;" class="col-lg-8 col-lg-offset-2 text-center">
          <%= link_to "¿Quiénes somos?", {controller: "about", action:"index"},class: "btn btn-lg btn-outline"%>
        </div>
      </div>  
    </div>
  </div>
</footer>

<%= hidden_field('data','url',:value => url_for(controller: 'welcome', action: 'data_sample' )) %>
<%= render "welcome/legend_indicator.html" %>