<header>
  <div class="container-fluid" style="padding-top: 120px; background: -webkit-linear-gradient(top, rgba(240,249,255,1) 0%,rgba(203,235,255,0.89) 47%,rgba(163,220,255,0.77) 98%,rgba(161,219,255,0.77) 100%);">  
    <div class="row">
      <div class="col-md-9">
        <div id="graphs"></div>
      </div>
      <div class="col-md-3">
        <div id="legend"></div>
      </div>
    </div>
  </div>
</header>

<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Lorem Ipsum</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <p class="text-justify">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
        </div>
        <div class="col-lg-4">
          <p class="text-justify">Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
        </div>
        <div style="padding-bottom: 100px;" class="col-lg-8 col-lg-offset-2 text-center">
          <a href="#" class="btn btn-lg btn-outline">
            ¿Quiénes somos?
          </a>
        </div>
      </div>  
    </div>
  </div>

  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         © Ricardo Betancourt 2016. All rights reserved. Done by MakingDevs
       </div>
     </div>
   </div>
 </div>
</footer>

<%= hidden_field('data','url',:value => url_for(controller: 'welcome', action: 'data_sample' )) %>
<%= render "welcome/legend_indicator.html" %>