<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">¿Quiénes somos?</span>
                    <hr class="star-light">
                    <span class="skills">¿Cuál es el índice para una vida mejor?</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="contact">
    <div class="container">
        
        <div class="row marketing">
        <div class="col-lg-12">
          <p class="text-justify">El Índice de Mejor Vida está diseñado para que pueda visualizar y comparar algunos de los factores clave - como la educación, la vivienda, el medio ambiente, y así sucesivamente - que contribuyen al bienestar en los estados. Es una herramienta interactiva que le permite ver cómo los estados llevan a cabo de acuerdo con la importancia que le das a cada uno de los 11 temas que garantizan una vida mejor.</p>
          <br/>
        </div>

        <div class="col-lg-12">
          <h4>Cuál es el punto del índice para una vida mejor?</h4>
          <p class="text-justify">Ha habido mucho debate últimamente en la medición del bienestar de las sociedades - es la riqueza lo único que importa, o deberíamos buscar en otras cosas, como el equilibrio entre el trabajo y el resto de nuestras vidas? El Índice tiene como objetivo involucrar a los ciudadanos en este debate, y para darles la posibilidad de estar más informados e involucrados en el proceso de toma de decisiones que da forma a nuestras vidas.</p>
          <br/>
        </div>

        <div class="col-lg-12">
          <h4>¿Por qué elegir 11 temas de bienestar?</h4>
          <p class="text-justify">Desde su fundación en 1961, la OCDE ha ayudado a los gobiernos a diseñar mejores políticas para una vida mejor para sus ciudadanos. Más recientemente, la OCDE ha sido profundamente involucrada en el debate sobre la medición del bienestar. Basándose en esta experiencia, estos 11 temas reflejan lo que la OCDE ha identificado como esenciales para el bienestar en términos de las condiciones materiales de vida (vivienda, ingresos, puestos de trabajo) y la calidad de vida (comunidad, educación, medio ambiente, gobierno, salud, satisfacción con la vida , la seguridad y la conciliación de la vida).

          Cada tema se basa en uno a cuatro indicadores específicos: por ejemplo, el tema Empleo se basa en cuatro medidas separadas: la tasa de empleo, de ingresos personales, la tasa de desempleo a largo plazo y la seguridad en el empleo. Para cada indicador también puede comparar los resultados para hombres y mujeres, y ver la cantidad de su situación social y económica afecta a los resultados.

          En el futuro, estos indicadores reflejan las condiciones materiales de vida actuales y la calidad de vida se complementarán con indicadores que describen la sostenibilidad del bienestar a lo largo del tiempo.</p>
        </div>
      </div>
    </div>
</section>