<div id="index-banner" class="parallax-container z-depth-2">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center">Índices de crecimiento de los Estados de México</h1>
      <div class="row center">
        <h4 class="header col s12 light">¿Quiénes somos?</h4>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/95482383/q%3D80_m%3D2000_k%3D1/8774c42eccda2249f541724464c1251d" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center-align">
        <h4>¿Cuál es el índice para una vida mejor?</h4>
        <p class="center-align">El Índice de Mejor Vida está diseñado para que pueda visualizar y comparar algunos de los factores clave - como la educación, la vivienda, el medio ambiente, y así sucesivamente - que contribuyen al bienestar en los estados. Es una herramienta interactiva que le permite ver cómo los estados llevan a cabo de acuerdo con la importancia que le das a cada uno de los 11 temas que garantizan una vida mejor.</p>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4></h4>
        <ul class="collapsible popout" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>¿Cuál es el índice para una vida mejor?</div>
            <div class="collapsible-body"><p>El Índice de Mejor Vida está diseñado para que pueda visualizar y comparar algunos de los factores clave - como la educación, la vivienda, el medio ambiente, y así sucesivamente - que contribuyen al bienestar en los estados. Es una herramienta interactiva que le permite ver cómo los estados llevan a cabo de acuerdo con la importancia que le das a cada uno de los 11 temas que garantizan una vida mejor.</p></div>
          </li>
          <li>
            <div class="collapsible-header active"><i class="material-icons">place</i>Cuál es el punto del índice para una vida mejor?</div>
            <div class="collapsible-body"><p>Ha habido mucho debate últimamente en la medición del bienestar de las sociedades - es la riqueza lo único que importa, o deberíamos buscar en otras cosas, como el equilibrio entre el trabajo y el resto de nuestras vidas? El Índice tiene como objetivo involucrar a los ciudadanos en este debate, y para darles la posibilidad de estar más informados e involucrados en el proceso de toma de decisiones que da forma a nuestras vidas.</p></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>¿Por qué elegir 11 temas de bienestar?</div>
            <div class="collapsible-body"><p>Desde su fundación en 1961, la OCDE ha ayudado a los gobiernos a diseñar mejores políticas para una vida mejor para sus ciudadanos. Más recientemente, la OCDE ha sido profundamente involucrada en el debate sobre la medición del bienestar. Basándose en esta experiencia, estos 11 temas reflejan lo que la OCDE ha identificado como esenciales para el bienestar en términos de las condiciones materiales de vida (vivienda, ingresos, puestos de trabajo) y la calidad de vida (comunidad, educación, medio ambiente, gobierno, salud, satisfacción con la vida , la seguridad y la conciliación de la vida).

              Cada tema se basa en uno a cuatro indicadores específicos: por ejemplo, el tema Empleo se basa en cuatro medidas separadas: la tasa de empleo, de ingresos personales, la tasa de desempleo a largo plazo y la seguridad en el empleo. Para cada indicador también puede comparar los resultados para hombres y mujeres, y ver la cantidad de su situación social y económica afecta a los resultados.

              En el futuro, estos indicadores reflejan las condiciones materiales de vida actuales y la calidad de vida se complementarán con indicadores que describen la sostenibilidad del bienestar a lo largo del tiempo.</p></div>
            </li>
          </ul>
          <p class="center-align"></p>
        </div>
      </div>
    </div>
  </div>