<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-child" aria-hidden="true"></i> Compromiso civil</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/119062897/q%3D80_m%3D1500/44156011640c8379bbbc5296e56e2108"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Compromiso civil?</h5>
        <div class="divider"></div>
        <p class="text-justify">La confianza en el gobierno es esencial para la cohesión social y el bienestar. Hoy en día, más que nunca, los ciudadanos demandan una mayor transparencia de sus gobiernos.</p>
        <p class="text-justify" >La información sobre el quién, qué y cómo de la toma de decisiones es esencial para hacer que el gobierno cuenta, mantener la confianza en las instituciones públicas y apoyar la igualdad de condiciones para los negocios.</p>

        <p class="text-justify" >Una mayor transparencia no sólo es clave para mantener la integridad en el sector público; sino que también contribuye a una mejor gobernabilidad. De hecho, la apertura y la transparencia en última instancia, pueden mejorar los servicios públicos, reduciendo al mínimo el riesgo de fraude, la corrupción y la mala administración de los fondos públicos.</p>

        <p class="text-justify" >Elevado índice de participación es una medida de la participación de los ciudadanos en el proceso político. La participación electoral se define como el porcentaje de la población de derecho que votó durante una elección. Elevado índice de participación es deseable en una democracia, ya que aumenta la probabilidad de que el sistema político refleja la voluntad de un gran número de personas, y que el gobierno goza de un alto grado de legitimidad.</p>
      </div>

      <div class="col s12 m12 l6">
        <div class="">
          <div class="card-content">
            <div id="chart"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
