<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-users" aria-hidden="true"></i> Comunidad</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/141459697/q%3D80_m%3D1500_k%3D1/63b410d104cf58ca7b0870c1c883f128"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Comunidad?</h5>
        <div class="divider"></div>
        <p class="text-justify">
          Los seres humanos son criaturas sociales. La frecuencia de nuestro contacto con los demás y la calidad de nuestras relaciones personales son, por tanto determinantes cruciales de nuestro bienestar. Los estudios muestran que el tiempo pasado con los amigos se asocia con un mayor nivel promedio de los sentimientos positivos y un menor nivel promedio de los sentimientos negativos que el tiempo pasado en otras formas.</p>
          <p class="text-justify" >Una fuerte red social o comunidad, pueden brindar apoyo emocional durante los momentos buenos y malos, así como el acceso a los puestos de trabajo, servicios y otras oportunidades materiales.</p>

          <p class="text-justify"> Al otro lado de la OCDE, el 88% de las personas creen que conocen a alguien que se basaría en un momento de necesidad.</p>

          <p class="text-justify" >Mientras que el género tiene poco impacto en el apoyo red social, hay una clara relación entre la disponibilidad de apoyo social, por un lado, y el nivel de educación de las personas, por el otro. En general, hay más personas que han completado la educación terciaria que reportan tener alguien de contar con ayuda en tiempos de necesidad que las personas que sólo han alcanzado la enseñanza primaria.</p>
        </div>

        <div class="col s12 m12 l6">
          <div class="">
            <div class="card-content">
              <div id="chart"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
