<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-book" aria-hidden="true"></i> Educación</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/140611235/q%3D80_m%3D1500/a3e700a11c6f6a224c676a9b7dacfbbf"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Educación?</h5>
        <div class="divider"></div>
        <p class="text-justify">
          La educación juega un papel clave en proporcionar a las personas con los conocimientos, habilidades y competencias necesarias para participar eficazmente en la sociedad y en la economía. Además, la educación puede mejorar la vida de las personas en áreas tales como la salud, la participación ciudadana, el interés político y la felicidad. Los estudios demuestran que las personas educadas viven más tiempo, participar más activamente en la política y en la comunidad donde viven, cometen menos delitos y dependen menos de la asistencia social.</p>
          <p class="text-justify" >En una economía del conocimiento que cambia rápidamente, la educación es acerca de las habilidades de aprendizaje de por vida.</p>

          <p class="text-justify" >Tener una buena educación mejora en gran medida la probabilidad de encontrar un trabajo y ganar dinero suficiente. individuos altamente educados son menos afectados por la evolución del desempleo, el nivel de instrucción, porque normalmente hace que un individuo sea más atractivo en el mercado laboral. ganancias de por vida también aumentan con cada nivel de educación alcanzado.</p>

          <p class="text-justify" >Por otra parte, las habilidades necesarias en el mercado de trabajo son cada vez más basada en el conocimiento. Este cambio en la demanda ha hecho un grado superior secundaria, o el grado de la secundaria, la acreditación mínima para buscar un trabajo en casi todos los países de la OCDE.</p>
        </div>

        <div class="col s12 m12 l6">
          <div class="">
            <div class="card-content">
              <div id="chart"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
