<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-briefcase" aria-hidden="true"></i> Empleos</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/107748155/q%3D80_m%3D1500/8d55d3e034259e9146e19ea88d77a21d"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Empleos?</h5>
        <div class="divider"></div>
        <p class="text-justify">
          El trabajo tiene beneficios económicos obvios, pero que tienen un puesto de trabajo también ayuda a las personas mantenerse en contacto con la sociedad, mejorar su autoestima y desarrollar habilidades y competencias.</p>
          <p class="text-justify" >Al otro lado de la OCDE, se estima que el 81% de los individuos con al menos una educación terciaria tienen un trabajo remunerado, en comparación con un estimado de 47% para aquellos que no tienen una educación secundaria superior.</p>

          <p class="text-justify" >A pesar de un aumento constante de la tasa de empleo femenino en los últimos 15 años, las mujeres son mucho menos propensas que los hombres a tener un puesto de trabajo.</p>

          <p class="text-justify" >Los desempleados se definen como aquellos que actualmente no están trabajando, pero están dispuestos a hacerlo y activa la búsqueda de trabajo. El desempleo a largo plazo puede tener un gran efecto negativo en la sensación de bienestar y autoestima, y ​​dar lugar a una pérdida de habilidades, reduciendo aún más la empleabilidad.</p>
        </div>

        <div class="col s12 m12 l6">
          <div class="">
            <div class="card-content">
              <div id="chart"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
