<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-tree" aria-hidden="true"></i> Entorno</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/165811039/q%3D80_m%3D1500/893cdff3dde0cd48bf8edc304b004a9f"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Entorno?</h5>
        <div class="divider"></div>
        <p class="text-justify">
          La calidad de nuestro medio ambiente local tiene un impacto directo en nuestra salud y bienestar. Un entorno virgen es una fuente de satisfacción, mejora el bienestar mental, permite a las personas a recuperarse del estrés de la vida cotidiana y para realizar actividad física. Tener acceso a los espacios verdes, por ejemplo, es una parte esencial de la calidad de vida.</p>
          <p class="text-justify" >Además, nuestras economías se basan no sólo en los trabajadores sanos y productivos, sino también en los recursos naturales como el agua, la madera, la pesca, las plantas y cultivos. La protección de nuestro medio ambiente y los recursos naturales, por tanto, sigue siendo una prioridad a largo plazo, tanto para nuestra generación y las venideras.</p>

          <p class="text-justify" >La contaminación del aire es un problema ambiental importante que afecta directamente a la calidad de vida de las personas.</p>

          <p class="text-justify" >A pesar de las intervenciones nacionales e internacionales y la disminución de las emisiones contaminantes principales, a nivel mundial los impactos sobre la salud de la contaminación del aire urbano siguen empeorando, con la contaminación del aire va a convertir en la causa ambiental superior de la mortalidad prematura en 2050.</p>
        </div>

        <div class="col s12 m12 l6">
          <div class="">
            <div class="card-content">
              <div id="chart"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
