<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-balance-scale" aria-hidden="true"></i> Equilibrio trabajo-vida</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/166124679/q%3D80_m%3D1500_k%3D1/03dbbe98bb61e29c5090ac80da458cff"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Equilibrio trabajo-vida?</h5>
        <div class="divider"></div>
        <p class="text-justify">Encontrar un equilibrio adecuado entre el trabajo y la vida diaria es un reto al que se enfrentan todos los trabajadores. Las familias se ven particularmente afectados. La capacidad de combinar con éxito el trabajo, la vida familiar y la vida personal es importante para el bienestar de todos los miembros de un hogar. Los gobiernos pueden ayudar a abordar el problema mediante el fomento de prácticas de trabajo flexible y de apoyo, lo que hace que sea más fácil para los padres para lograr un mejor equilibrio entre el trabajo y la vida familiar.</p>
        <p class="text-justify" >Los empleados que trabajan largas horas</p>
        <p class="text-justify" >Un aspecto importante de la conciliación de la vida es la cantidad de tiempo que una persona pasa en el trabajo. La evidencia sugiere que muchas horas de trabajo pueden poner en peligro la salud personal, poner en peligro la seguridad y aumentar el estrés.</p>
        <p class="text-justify" >Por otra parte, las personas trabajan más, menos tiempo tienen para gastar en otras actividades, tales como el cuidado personal o por placer. La cantidad y la calidad del tiempo libre es importante para el bienestar general de las personas, y pueden aportar beneficios adicionales para la salud física y mental.</p>
      </div>

      <div class="col s12 m12 l6">
        <div class="">
          <div class="card-content">
            <div id="chart"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
