<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-money" aria-hidden="true"></i> Ingresos</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/104452735/q%3D80_m%3D1500/cbb39afe4053f7c5b56974955c4200c1"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Ingresos?</h5>
        <div class="divider"></div>
        <p class="text-justify">
          Mientras que el dinero no puede comprar la felicidad, es un medio importante para lograr mejores niveles de vida y por lo tanto un mayor bienestar. riqueza económica alta, es posible mejorar el acceso a una educación de calidad, salud y vivienda.
        </p>
        <p class="text-justify" >
           Representa el dinero disponible para un hogar para el gasto en bienes o servicios.
        </p>
        <p class="text-justify" >
          La riqueza financiera constituye una parte importante de los recursos económicos de un hogar, y puede proteger de las dificultades económicas y la vulnerabilidad. Por ejemplo, un hogar de bajos ingresos que tiene la riqueza superior a la media será mejor que un hogar de bajos ingresos sin la riqueza en absoluto. Al otro lado de la OCDE, el hogar promedio riqueza financiera neta per cápita se estima en USD 84 547.
        </p>
        <p class="text-justify" >
          El coste de la vida se tiene en cuenta en las cifras de ingresos y de riqueza que los valores reportados son ajustados por paridad del poder adquisitivo (PPA). APP reflejan las diferencias en el costo de vida para una cantidad comparable de bienes y servicios consumidos por los hogares.
        </p>
      </div>

      <div class="col s12 m12 l6">
        <div class="">
          <div class="card-content">
            <div id="chart"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
