<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name"><i class="fa fa-home" aria-hidden="true"></i> Vivienda</span>
          <hr class="star-light">
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title"></h1>
    <p><br/></p>
  </div>

  <div class="row">
    <div class="col-sm-12 blog-main">
      <div class="blog-post">
        <div class="row">
          <div class="col-lg-6 text-justify">
            <p>Que viven en condiciones de vivienda satisfactorias es uno de los aspectos más importantes de la vida de las personas. La vivienda es esencial para satisfacer las necesidades básicas, como la vivienda, pero no es sólo una cuestión de cuatro paredes y un techo. La vivienda debe ofrecer un lugar para dormir y descansar donde las personas se sienten seguros y tienen la privacidad y el espacio personal; en algún lugar que puedan formar una familia. Todos estos elementos ayudan a hacer una casa un hogar. Y, por supuesto, está la cuestión de si las personas pueden acceder a una vivienda adecuada.
              Habitaciones por persona y viviendas con servicios básicos

              Al mirar la vivienda, es importante examinar las condiciones de vida, tales como el número promedio de habitaciones compartidas por persona y si las viviendas tienen acceso a los servicios básicos.

              El número de habitaciones de una vivienda, dividido por el número de personas que viven allí, indica si los residentes están viviendo en condiciones de hacinamiento. hacinamiento puede tener un impacto negativo en la salud física y mental, las relaciones con los demás, y el desarrollo de los niños. Además, las condiciones de vida densos son a menudo un signo de la falta de agua y suministro de aguas residuales. En la OCDE, el hogar promedio contiene 1,8 habitaciones por persona. En cuanto a los servicios básicos, el 97,9% de las personas a través de la OCDE reside en viviendas con acceso privado a un inodoro cubierta.</p>
            </div>
            <div class="col-lg-6 text-justify">
              <div id="chart"></div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="#" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Download Theme
              </a>
            </div>
          </div>
        </div><!-- /.blog-post -->
      </div><!-- /.blog-main -->
    </div>
  </div>

</div>
