<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-heartbeat" aria-hidden="true"></i> Salud</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/130380711/q%3D80_m%3D1500/5aeda387666a98d6ad316c0e2fb26646"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Salud?</h5>
        <div class="divider"></div>
        <p class="text-justify">La buena salud es una de las cosas más importantes para las personas y también aporta muchos otros beneficios, como la mejora del acceso a la educación y el mercado de trabajo, un aumento de la productividad y la riqueza, la reducción de los costos del cuidado de la salud, buenas relaciones sociales, y, por supuesto, una más larga la vida.</p>
        <p class="text-justify" >La esperanza de vida es la medida más ampliamente utilizada de la salud, a pesar de que sólo tiene en cuenta la duración de vida de las personas y no su calidad de vida.</p>

        <p class="text-justify" >Las enfermedades crónicas como el cáncer, enfermedades cardiovasculares, enfermedades respiratorias crónicas y la diabetes, son ahora las principales causas de discapacidad y muerte en los países de la OCDE. </p>

        <p class="text-justify" >Muchas de estas enfermedades se pueden prevenir, ya que están ligadas a los estilos de vida modificables. Las personas que no fuman, beben alcohol en cantidades moderadas, son físicamente activos, comer una dieta equilibrada, y que no son obesos o con sobrepeso tienen un riesgo mucho menor de muerte prematura que aquellos que tienen hábitos poco saludables.</p>
      </div>

      <div class="col s12 m12 l6">
        <div class="">
          <div class="card-content">
            <div id="chart"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
