<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-taxi" aria-hidden="true"></i> Seguridad</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/95898347/q%3D80_m%3D1500_k%3D1/a2238a73763c93d9099aef9ea9e2cbce"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Seguridad?</h5>
        <div class="divider"></div>
        <p class="text-justify">
          La seguridad personal es un elemento básico para el bienestar de las personas, e incluye los riesgos de las personas que son físicamente asaltado o sean víctimas de otros tipos de delitos. Crimen puede conducir a la pérdida de vidas y bienes, así como el dolor físico, el estrés postraumático y ansiedad. Uno de los mayores impactos de la delincuencia en el bienestar de las personas parece ser a través de la sensación de vulnerabilidad que causa.</p>
          <p class="text-justify" >Según los últimos datos, alrededor del 68% de las personas en los países de la OCDE dice que se siente seguro caminando solo por la noche.</p>

          <p class="text-justify" >Las tasas de homicidio (el número de homicidios por cada 100 000 habitantes), sólo representan la forma más extrema de los delitos de contacto y por lo tanto no proporcionan información sobre la seguridad de las condiciones más típicas.</p>

          <p class="text-justify" >Sin embargo, son una medida más fiable del nivel de seguridad de un país, ya que, a diferencia de otros delitos, los homicidios son por lo general siempre se denuncian a la policía. Las personas con mayores ingresos y la educación superior por lo general reportan mayores sentimientos de seguridad y se enfrentan a un menor riesgo de la delincuencia. </p>
        </div>

        <div class="col s12 m12 l6">
          <div class="">
            <div class="card-content">
              <div id="chart"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
