<div id="index-banner" class="parallax-container z-depth-2 valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h1 class="header center valign"><i class="fa fa-child" aria-hidden="true"></i> Satisfacción de vida</h1>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/88670793/q%3D80_m%3D1500/cda472ff08fc761ee575f8c8a201ee08"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <br/><br/>
      <div class="col s12 m12 l6">
        <h5>¿Qué es Satisfacción de vida?</h5>
        <div class="divider"></div>
        <p class="text-justify">Sentimientos de medición puede ser muy subjetivo, pero no obstante es un complemento útil a los datos más objetivos al comparar la calidad de vida en todos los países. Los datos subjetivos pueden proporcionar una evaluación personal de la salud, la educación, los ingresos, el desarrollo personal del individuo y las condiciones sociales. Las encuestas, en particular, se utilizan para medir la satisfacción con la vida y la felicidad.</p>
        <p class="text-justify" >Este indicador mide cómo las personas evalúan su vida como un todo en lugar de sus sentimientos actuales. Cuando les pidió que calificaran su satisfacción general con la vida en una escala de 0 a 10.</p>

        <p class="text-justify" >Casi no hay diferencia en los niveles de satisfacción con la vida entre hombres y mujeres en todos los países de la OCDE.</p>

      </div>

      <div class="col s12 m12 l6">
        <div class="">
          <div class="card-content">
            <div id="chart"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
